body {
	background-color: #f6f5f5;
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
}
a {
	text-decoration: none;
}
section{
	width: 100%;
	height: 100vh;
	background-image: url('../logo/backimg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	background-color: #FFFFFF;
	padding: 0px 5%;
}
nav ul {
	display: flex;
}
.toggle{
	display: none;
}
nav ul li a{
margin: 30px;
font-family: sans-serif;
color: #793406f3;
font-size: 16px;
font-weight:bold;
}
.examp{
    display:grid;
    height: 100%;
    width: 100%;
    place-items: center; 
 }
 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
 .container{
    max-width: 700px;
    background-color: #d6d6d675;
    width: 800px;
    padding: 25px 40px 10px 40px;
    box-shadow: 0px 0px 10px ;
    box-shadow:rgb(0, 0, 0);
  }
  .container .text{
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    background: rgb(231, 231, 231);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container form{
    padding: 30px 0 50px 0;
  }
  .container form .form-row{
    display: flex;
    margin: 32px 0;
  }
  form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
    
  }
  form .form-row .textarea{
    height: 70px;
  }
  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid black;
    background: transparent;
  }
  .input-data input:focus ~ label, .textarea textarea:focus ~ label,
  .input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translateY(-20px);
    font-size: 14px;
    color: #3498db;
  }
  .textarea textarea{
    resize: none;
    padding-top: 10px;
  }
  .input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  .textarea label{
    width: 100%;
    bottom: 40px;
    background: transparent;
  }
  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }
  .input-data .underline:before{
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }
  .input-data input:focus ~ .underline:before,
  .input-data input:valid ~ .underline:before,
  .textarea textarea:focus ~ .underline:before,
  .textarea textarea:valid ~ .underline:before{
    transform: scale(1);
  }

  
  
.sub-btn{
    background-color: black;
    border: none;
    width: 120px;
    color: #f6f5f5;
    height: 50px;
    text-transform: uppercase;
    justify-content: center;
}

footer{
  width: 100%;
  top: -10%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: rgb(167, 167, 167);
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 50px;
  color: rgb(143, 83, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  padding: 0px;
  border-color: #0c0c0c;
  border: 1px solid #272727;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2)
}
footer .content .lower p{
	padding-right: 0px;
	color: #cbcbcb;
	display: flex;
	padding-top: 25px;
	justify-content: space-between;
	font-family: sans-serif;
	margin-right: 155px;
  }
  footer .content .lower .phone a{
	padding-right: 20px;
	color: #cbcbcb;
	display: flex;
	padding-top: 25px;
	justify-content: space-between;
	font-family: sans-serif;
	margin-right: 200px;
  }
footer .content .middle{
  padding-left: 80px;
}

footer .content .middle h3{
	line-height: 32px;
	color: wheat;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
footer .content .right h4{
	color: #cbcbcb ;
	font-family: cursive;
}

.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}

footer .bottom{
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
  justify-content: center;
  place-items: center;
  font-family: 'Courier New', Courier, monospace;
}

  .contact-dev{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .contact-dev p{
    font-family: cursive;
    font-family: none;
  }
  .contact-dev p:nth-child(1){
  font-size: 22px;
  color: #e0e0e0;
  line-height: 0px;
  }
  .social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
  }
  .social-icons{
    display: flex;
  }
  .social-icons i{
  color: #000000;
  }
  .social-icons a:hover,
  .social-bar a:hover{
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  transition:all ease 0.5s;
  }
  .social-icons a:hover i,
  .social-bar a:hover i{
  color: #FFFFFF;
  transition: all ease 0.5s;
  }
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
@media(max-width:750px)
{   
    .swing:hover
    {
            -webkit-animation: swing 1s ease;
            animation: swing 1s ease;
            -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    }
	section{
		background-image: url('../logo/backimg.jpg');
		background-color: #f7f7f7;
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        height: 100vh;
	}
	.toggle{
		display: block;
	}
	nav ul{
		margin: 0px;
		padding: 0px;
		background-color: #ebeef4;
		flex-direction: column;
		position: fixed;
		left: 0;
		top: 50px;
		width: 100%;
		height:15vh;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		z-index:1;
		display: none;
	}
	nav ul li{
		padding: 10px;
	}
	nav ul li a{
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 1em;
		text-transform: uppercase;
		color: #793406f3;
	}
	nav ul li a:hover{
	color: #121212;
	}
	.toggle:before{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 30px;
		z-index: 1;
        font-size: 18px;
	}
	.toggle.active:before{
		content: '\f00d';
		position: fixed;
		right: 16px;
		line-height: 0px;
        color: #121212;
	}
	 nav.active ul{
		 display: flex !important;
	 }
     .examp{
        display:grid;
        height: 100%;
        width: 100%;
        place-items: center; 
     }

     .container{
        max-width: 700px;
        background-color: #d6d6d675;
        width: 90%;
        padding: 25px 40px 10px 40px;
        box-shadow: 0px 0px 10px ;
        box-shadow:rgb(0, 0, 0);
        height: 80%;
        top: 50%;
      }
      .container .text{
        text-align: center;
        font-size: 35px;
        font-weight: 600;
        background: rgb(231, 231, 231);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(10, 10, 10, 0.932);
      }
      .container form{
        padding: 30px 0 50px 0;
      }
      .container form .form-row{
        display: flex;
        margin: 32px 0;
      }
      form .form-row .input-data{
        width: 100%;
        height: 40px;
        margin: 0 20px;
        position: relative;
        
      }
      form .form-row .textarea{
        height: 70px;
      }
      .input-data input,
      .textarea textarea{
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        font-size: 17px;
        border-bottom: 2px solid black;
        background: transparent;
        color: #000000;
      }
      .input-data input:focus ~ label, .textarea textarea:focus ~ label,
      .input-data input:valid ~ label, .textarea textarea:valid ~ label{
        transform: translateY(-20px);
        font-size: 14px;
        color: #251901;
      }
      .textarea textarea{
        resize: none;
        padding-top: 10px;
      }
      .input-data label{
        position: absolute;
        pointer-events: none;
        bottom: 10px;
        font-size: 16px;
        transition: all 0.3s ease;
      }
      .textarea label{
        width: 100%;
        bottom: 40px;
        background: transparent;
      }
      .input-data .underline{
        position: absolute;
        bottom: 0;
        height: 2px;
        width: 100%;
      }
      .input-data .underline:before{
        position: absolute;
        content: "";
        height: 2px;
        width: 100%;
        background: #251901;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease;
      }
      .input-data input:focus ~ .underline:before,
      .input-data input:valid ~ .underline:before,
      .textarea textarea:focus ~ .underline:before,
      .textarea textarea:valid ~ .underline:before{
        transform: scale(1);
      }
    
      
      
    .sub-btn{
        background-color: black;
        border: none;
        width: 120px;
        color: #f6f5f5;
        height: 50px;
        text-transform: uppercase;
    }
    footer{
      top: -10%;
      width: 100%;
      position: relative;
      background: #111;
      }
  
      footer .content p,a{
      color: #fff;
      }
      footer .content .topic{
      font-size: 22px;
      font-weight: 600;
      color: rgb(167, 167, 167);
      margin-bottom: 16px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      }	
      footer .content p{
      text-align: justify;
      }
      footer .content .lower .topic{
      margin: 24px 0 5px 0;
      }
      footer .content .lower i{
      padding-right: 50px;
      color: rgb(143, 83, 14);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      padding: 0px;
      border-color: #0c0c0c;
      border: 1px solid #272727;
      box-shadow: 2px 2px 12px rgba(0,0,0,0.2)
      }
      footer .content .lower p{
        padding-right: 20px;
        color: #cbcbcb;
        display: flex;
        padding-top: 25px;
        font-family: sans-serif;
        margin-right: 5px;
        text-align: center;
      }
      footer .content .lower .phone a{
        padding-right:75px;
        color: #cbcbcb;
        display: flex;
        padding-top: 25px;
        font-family: sans-serif;
        margin-right: 20px;
        text-align: center;
      }
      footer .content .middle{
        padding-left: 15%;
        }
      
      footer .content .middle h3{
        line-height: 32px;
        color: wheat;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 17px;
        text-align: center;
      }
      footer .content .right h4{
        color: #cbcbcb ;
        font-family: cursive;
        text-align: center;
        font-weight: lighter;
      }
      footer .content .right input[type="submit"]{
      height: 42px;
      width: 100%;
      font-size: 18px;
      color: #d9d9d9;
      background: #eb2f06;
      outline: none;
      border-radius: 5px;
      letter-spacing: 1px;
      cursor: pointer;
      margin-top: 12px;
      border: 2px solid #eb2f06;
      transition: all 0.3s ease-in-out;
      }
      .content .right input[type="submit"]:hover{
      background: none;
      color:  #eb2f06;
      }
      footer .content .media-icons a{
      font-size: 16px;
      height: 45px;
      width: 45px;
      display: inline-block;
      text-align: center;
      line-height: 43px;
      border-radius: 5px;
      border: 2px solid #222222;
      margin: 30px 5px 0 0;
      transition: all 0.3s ease;
      }

      footer .bottom{
      width: 100%;
      text-align: center;
      color: #d9d9d9;
      padding: 0 40px 5px 0;
      font-family: 'Courier New', Courier, monospace;
      padding-left: 45px;
      }
      .social-icons a{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #e6e3e3;
        margin: 20px 10px;
        border-radius: 50%;
      }
      .social-icons{
        display: flex;
      }
       .social-icons i{
        color: #000000;
        }
        .social-icons a:hover,
        .social-bar a:hover{
        background-color: #000000;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        transition:all ease 0.5s;
        }
        .social-icons a:hover i,
        .social-bar a:hover i{
        color: #FFFFFF;
        transition: all ease 0.5s;
        }

        .contact-dev p:nth-child(1){
        font-size: 18px;
        color: #e0e0e0;
        line-height: 0px;
        }
}
